
body {
  color: #09011f;                     
  font-family: Verdana, sans-serif; 
}


h1 {
  font-family: "Times New Roman";
}

h2 {
  font-family: Courier;
}

h3 {
  font-family: Arial;
}